<h1>Page Show</h1>

<h2><%= @restaurant.name %></h2>

<p><%= @restaurant.address%></p>
<p><%= @restaurant.category%></p>
<p><%= @restaurant.phone_number%></p>

<h3>Avis:</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %>: <%= review.rating %></li>
  <% end %>
</ul>

<%= link_to 'Ajouter un avis ➕', new_restaurant_review_path(@restaurant) %>
